# Ignore all IntelliJ Files
.idea/**
**/__pycache__/

# Ingore the venv
env/
venv/
.venv/
venv*/

# Files created by running
src/TheAntFarm/app_logs/
gcode_temp_dir/
src/TheAntFarm/configurations/
src/TheAntFarm/gcode_temp_dir/
/src/TheAntFarm/build/

# Coverage files
.coverage
coverage.xml
htmlcov/
.coveragerc
check_camera.py
src/TheAntFarm/check_docstring.py
src/TheAntFarm/check_pcb_importer.py
src/TheAntFarm/shape_core/check_align_class.py
src/TheAntFarm/shape_core/check_excellon.py
src/TheAntFarm/shape_core/check_interp2d.py
src/TheAntFarm/shape_core/check_tps_algo.py
src/TheAntFarm/shape_core/demo_out.svg
src/TheAntFarm/shape_core/plot_rounded_rect.py
