# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:

    runs-on:  ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        # python-version: ["3.8", "3.9", "3.10"]
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 .  --exclude app_resources_rc.py,ui_the_ant_farm.py --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 .  --exclude app_resources_rc.py,ui_the_ant_farm.py --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Build Executable
      run: |
        python -m pip install pyinstaller
        cd src
        cd TheAntFarm
        pyinstaller the_ant_farm.spec
        cd ..
        cd ..
    - if: ${{ matrix.os != 'windows-latest' }}
      uses: actions/upload-artifact@v4
      with:
        name: the_ant_farm_${{ matrix.python-version }}_${{ matrix.os }}_${{ github.sha }}_${{ github.run_number }}
        path: src/TheAntFarm/dist/the_ant_farm
    - if: ${{ matrix.os == 'windows-latest' }}
      uses: actions/upload-artifact@v4
      with:
        name: the_ant_farm_${{ matrix.python-version }}_${{ matrix.os }}_${{ github.sha }}_${{ github.run_number }}
        path: src/TheAntFarm/dist/the_ant_farm.exe
